* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #dddddd;
    font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
    font-weight: 400;
}

#container {
    margin-top: 3px;
    width: 100%;
}

/*nav部分*/

#nav {
    height: 125px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 1px;
}

#menu, #logo, #info {
    height: 125px;
    width: 33%;
    line-height: 125px;
}

#menu {
    float: left;
}

#menu .icon {
    margin-left: 48px;
    width: 40px;
    line-height: 14px;
    margin-top: 43px;
    cursor: pointer;
}

#menu .icon span {
    float: none;
    font-size: 12px;
    display: block;
    text-align: center;
}

#menu img {
    width: 40px;
    height: 25px;
    float: none;
}

#logo {
    text-align: center;
}

#logo img {
    width: 73px;
    height: 73px;
    cursor: pointer;
    margin-top: 26px;
}

#info .content {
    width: 84px;
    line-height: 20px;
    color: #4e4e4e;
    margin-right: 40px;
    margin-top: 42px;
}

#info .btn a {
    color: #b89f7a;
    font-size: 14px;
    font-weight: 700;
}

/*banner部分*/
#banner {
    width: 100%;
    position: relative;
}

#banner img {
    width: 100%;
    max-width: 100%;
}

#banner .img {
    background: url("../img/1.jpg") no-repeat center center;
    background-size: 100%;
    /*background-size: cover;*/
    padding-top: 50%; /*图片的高宽比,能把容器撑开*/
}

#banner a.btn {
    width: 108px;
    height: 52px;
    background-color: #b89f7a;
    color: #fff;
    position: absolute;
    top: 31%;
    left: 50%;
    margin-left: -54px;
    line-height: 52px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
}

#banner span {
    background: #47474A;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 900;
    right: 32px;
    padding: 2px 5px;
    position: absolute;
    top: 20px;
    z-index: 6;
}

/*星想卡*/
#card {
    width: 100%;
}

#card .img {
    background: url("../img/2.jpg") no-repeat;
    background-size: cover;
    padding-top: 14%;
}

#card .container {
    height: 390px;
    width: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    text-align: center;
}

#card .container .content {
    width: 80%;
    margin: 110px auto;
}

#card .container .content h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    color: #fffffe;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: none;
}

#card .container .content p {
    font-size: 18px;
    line-height: 32px;
    color: #999;
    margin-bottom: 60px;
}

#card .btn a {
    width: 110px;
    height: 46px;
    border: 2px solid #a98e67;
    line-height: 46px;
    display: inline-block;
    color: #a98e67;
}

#card .btn a.reg {
    margin-right: 30px;
}

#card .btn a:hover {
    background-color: #a98e67;
    color: #fff;
}

/*手机app*/
#app {
    width: 100%;
    height: 784px;
    background: url("../img/3.png") no-repeat 100% center;
    /*-webkit-background-size: 50%;*/
    background-size: 50%;
    overflow: hidden;
}

#app .container {
    width: 42%;
    margin-left: 12%;
    margin-top: 230px;
}

#app .container h3 {
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #a98e67;
    letter-spacing: 3px;
    margin-bottom: 22px;
}

#app .container p {
    font-size: 26px;
    line-height: 40px;
    color: #3d3d3d;
    margin-bottom: 148px;
}

#app .container .btn a {
    border: 2px solid #a98e67;
    padding: 14px 40px;
    color: #A98E69;
    font-weight: 700;
    margin-right: 29px;
}

#app .container .btn a:hover {
    background-color: #a98e67;
    color: #fff;
}

/*新年特惠*/
#newYear {
    width: 100%;
    background-color: red;
}

#newYear .img {
    width: 50%;
    padding-top: 50%;
    position: relative;
}

#newYear .img.year1 {
    background: url("../img/4.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#newYear .img.year2 {
    background: url("../img/5.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#newYear .container {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -30px;
}

#newYear .container h3.title {
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #a98e67;
    letter-spacing: 3px;
}

#newYear .container h3.content {
    letter-spacing: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    color: #fffffe;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: none;
}

/*星巴克经典*/
#favourite {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

#favourite .container {
    margin-top: 82px;
    text-align: center;
}

#favourite .container h3 {
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #a98e67;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

#favourite .container h2 {
    letter-spacing: normal;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 38px;
}

#favourite .container .hr {
    width: 132px;
    height: 1px;
    background-color: #ddd;
    margin: 0 auto 34px auto;
}

#favourite .container p {
    color: #525252;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 80px;
}

#favourite .slider {
    width: 98%;
    margin: 0 auto;
    height: 280px;
    overflow: hidden;
    background-color: red;
}

